#wrapper {
    display:grid;

    grid-template-rows: 100px 200px 400px 100px;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-areas:
    'nav nav nav'
    'spaceup spaceup spaceup'
    'spaceleft section spaceright'
    'spacedown spacedown spacedown'
    ;
}
nav {
    grid-area:nav;
    background-color: #70e19f;
    display:flex;
    font-size:1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    border-radius: 15px;
}
nav a{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    color:black;
    text-decoration: none;
    border-radius: 15px;
}
nav a:hover {
    background-color: black;
    color:#99d8b3;
    text-decoration: none;
}
#Emil {
    color:#ddffeb;
}

section {
    grid-area:section;
    background-color:#0c301b;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    border-radius: 15px;
}
spaceup {
    grid-area: spaceup;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    font-size:5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #3ca166;
}
spaceleft {
    grid-area: spaceleft;
}
spaceright {
    grid-area: spaceright;
}
spacedown {
    grid-area: spacedown;
}
