#wrapper {
    display: grid;
    
    
    grid-template-rows: 100px 160px 400px 30px 400px 70px;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas:
    ' nav nav nav '
    ' . hd . '
    ' . sc1 as1 '
    ' bd bd bd '
    ' . sc2 as2 '
    ' ft ft ft '
    ;
    gap: 20px;
}
nav {
    grid-area:nav;
    background-color: #70e19f;
    display:flex;
    font-size:1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    border-radius: 15px;
}
nav a{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    color:black;
    text-decoration: none;
    border-radius: 15px;
}
nav a:hover {
    background-color: black;
    color: #70e19f;
    text-decoration: none;
}
header {
    grid-area:hd;
    color:#3ca166;
    font-size:5rem;
    text-align: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;

}
#section1 {
    grid-area:sc1;
    background-color:white;
    color:black;
    font-size:2.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
}
#sc1txt {
    color:rgb(68, 68, 68);
    font-size: 1.3rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:400;
}
#border {
    grid-area:bd;
    background-color: #2ecc71;
}
#section2 {
    grid-area:sc2;
    background-color:white;
    color:black;
    font-size:2.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    padding:30px;
}
#sc2txt {
    color:rgb(68, 68, 68);
    font-size: 1.3rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:400;
}
footer {
    grid-area:ft;
    background-color: #2b9e62;
}